.u-center {
  min-width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;

  background-color: var(--clr-very-dark-blue-main-bg);

  display: flex;
  align-items: center;
  justify-content: center;
}
