:root {
  --clr-cyan: hsla(178, 100%, 50%, 1);
  --clr-soft-blue: hsla(215, 51%, 70%, 1);
  --clr-very-dark-blue-bg-card: hsla(216, 51%, 16%, 1);
  --clr-very-dark-blue-line: hsla(216, 32%, 27%, 1);
  --clr-very-dark-blue-main-bg: hsla(217, 54%, 11%, 1);
  --clr-white: hsla(0, 0%, 100%, 1);

  --ff: 'Outfit', sans-serif;

  --fs-heandig: 1.375rem;
  --fs-body: 1.125rem;
  --fs-caption: 1rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
}
